html{
  overflow-y:hidden;
  overflow-x:hidden;
}
html, body, ul, li{
  margin: 0;
  padding: 0;
}
body{
  background: #FCD424;
  padding-top: 60px;
}

#viewport .stack{
  width: 22em;
  height: 15em;
  background: #ED5D52;
  position: absolute;
  top: 7em;
  left: 50%;
  margin-left: -11em;
  border: 5px dotted white;
  border-radius: 10px;
}
#viewport li{
  width: 22em;
  height: 15em;
  list-style: none;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top: -5px;
  left: -5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  border: 10px solid #ECECEC;
  box-sizing: border-box;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
#viewport li:active{
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  lo
}
div.inputwrapper{
  position: absolute;
  margin-left: -88px;
  margin-top: -17px;
  left: 50%;
  top: 50%;
}
input.back, input.phonetic{
  display: none;
}
span.back{
  font-size: 2.5em;
  margin-top: 2em;
}
span.front{
  display: block;
  margin-top: 2em;
  font-size: 2.5em;
}
div.labels{
  display: block;
  margin-top: 2em;
  font-size: 2.5em;
}
span.phonetic{
  font-size: .5em;
  display: block;
  font-style: italic;
}
a.flip{
  text-decoration: none;
  padding-right: 10px;
  padding-top: 5px;
  font-size: 2.5em;
}
a.listen{
  text-decoration: none;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 2.5em;
}

a.flip:hover, a.listen:hover{
  color: red;
  cursor: pointer;
}
.nav, .pagination, .carousel, .panel-title a{
  cursor: pointer;
}

/*==================================================
= Bootstrap 3 Media Queries =
==================================================*/

/*========== Mobile First Method ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
  body{
    background: red;
  }
  
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
  body{
    background: orange;
  }
  
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
  body{
    background: green;
  }
  
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
  body{
    background: navy;
  }
  
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
  body{
    background: purple;
  }
  
}
