<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">StudyStack</div>
      </div>
		<div class="collapse navbar-collapse pull-right" ng-class="{'in':!navCollapsed}">
		
          <ul class="nav navbar-nav">

			<li class="dropdown">
			<a href="#" class="dropdown-toggle" ><b class="caret"></b></a>

              <ul class="dropdown-menu dropdown-menu-right" role="menu"
				ng-controller="Modals">
				
				<li class="dropdown-header">Settings</li>
                <li ng-hide="haveStack"><a data-toggle="collapse" data-target=".navbar-collapse" ng-click="setLanguage('sm');">
                      <span class="glyphicon glyphicon-globe"/> Language</a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">Card Stack</li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse" ng-click="newStack();"><span class="glyphicon glyphicon-refresh"/> New</a></li>
                <li ng-hide="haveStack"><a data-toggle="collapse" data-target=".navbar-collapse" ng-click="saveStack();"><span class="glyphicon glyphicon-cloud-upload"/> Save</a></li>

                <li ng-show="haveStack"><a data-toggle="collapse" data-target=".navbar-collapse" ng-click="showShareLink();"><span class="glyphicon glyphicon-link"/> Share</a></li>
                <li class="divider"></li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse" ng-click="showAbout('sm');"><span class="glyphicon glyphicon-info-sign"/> About</a></li>

			  </ul>
            </li>
          </ul>
		  
        </div><!--/.nav-collapse -->
      </div>
</nav>
